@media screen and (max-width: 1500px) {
    .hero {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .hero-overview {
        align-items: center;
        margin-right: 0;
    }

    .hero-overview__image {
        position: absolute;
        background-position: center;
    }

    .hero-overview__title {
        position: relative;
        left: 0;
        text-align: center;
        font-size: 74px;
    }

    .hero-overview__business {
        justify-content: space-between;
    }
}
